<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">


	<context:annotation-config/>
 <bean id="triangle" class="org.spring.ioc.poc.Triangle" ><!-- destroy-method="myDestroy" 
<property name="type" value="RightAngle"></property>
<constructor-arg value="20" index="0"/>
<constructor-arg value="20" index="1"/> -->
<property name="pointa" ref="point1"></property>
<property name="pointb" ref="point2"></property>
<property name="pointc" ref="point3"></property>
</bean>
 <!-- <bean id="triangle2" class="org.spring.ioc.poc.Triangle" parent="triangle">
 <property name="pointb" ref="point2"></property>
</bean>  -->
<!-- <bean id="Circle" class="org.spring.ioc.poc.Circle" >

</bean> -->

<bean id="point1" class="org.spring.ioc.poc.Point">
<qualifier value="circleRelatedBean"></qualifier>
<!--Reading Values from the Property file  -->
<property name="x" value="${point1.pointx}"></property>
<property name="y" value="${point1.pointy}"></property>
</bean>
 <bean id="point2" class="org.spring.ioc.poc.Point">
<property name="x" value="5"></property>
<property name="y" value="6"></property>
</bean>
<bean id="point3" class="org.spring.ioc.poc.Point">
<property name="x" value="7"></property>
<property name="y" value="8"></property>
</bean>
<bean id="center" class="org.spring.ioc.poc.Point">

<property name="x" value="7"></property>
<property name="y" value="8"></property>
</bean>
<!--<alias name="triangle" alias="abc"/> -->
<!-- <alias name="Circle" alias="circle"/> -->
<!--
Bean Post Processor Code 
 <bean class="org.spring.ioc.poc.DisplayNameBeanPostProcessor"/> -->
 
  <bean class="org.spring.ioc.poc.DisplayBeanFactoryPostProcessor"/> 
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  <property name="location" value="points.properties"></property>
  </bean>
  
  
  <!-- Scanning Components for checking annotations and Stereotypes -->
  <context:component-scan base-package="org.spring.ioc.poc"></context:component-scan>
  
  <!-- Reading of Messages using ResourceBundleMessageSupport -->
  <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
  <property name="basenames">
  <list>
  <value>Messages</value>
   <value>Messages2</value>
  </list>
  </property>
  </bean>
  
  
 <!--  Required Annotation PostProcessor
  <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
   -->
   <!-- AutowiredAnnotation and RequiredAnnottation
  <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
  <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/> -->
</beans>