<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="triangle" class="org.spring.ioc.poc.Triangle" ><!-- destroy-method="myDestroy" --> 
<!-- <property name="type" value="RightAngle"></property> -->
<!-- <constructor-arg value="20" index="0"/>
<constructor-arg value="20" index="1"/> -->
<property name="pointa" ref="point1"></property>
<property name="pointb" ref="point2"></property>
<property name="pointc" ref="point3"></property>
</bean>
 <bean id="triangle2" class="org.spring.ioc.poc.Triangle" parent="triangle">
 <property name="pointb" ref="point2"></property>
</bean>
<bean id="Circle" class="org.spring.ioc.poc.Circle" >
<property name="center" ref="point2"/>
</bean>

<bean id="point1" class="org.spring.ioc.poc.Point">
<property name="x" value="${point1.pointx}"></property>
<property name="y" value="${point1.pointy}"></property>
</bean>
<bean id="point2" class="org.spring.ioc.poc.Point">
<property name="x" value="5"></property>
<property name="y" value="6"></property>
</bean>
<bean id="point3" class="org.spring.ioc.poc.Point">
<property name="x" value="7"></property>
<property name="y" value="8"></property>
</bean>
<alias name="triangle" alias="abc"/>
<alias name="Circle" alias="circle"/>
<!--
Bean Post Processor Code 
 <bean class="org.spring.ioc.poc.DisplayNameBeanPostProcessor"/> -->
 
  <bean class="org.spring.ioc.poc.DisplayBeanFactoryPostProcessor"/> 
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  <property name="location" value="points.properties"></property>
  </bean>
</beans>